.agreement {
  width: 100%;
  padding-top: 45px;
  background-color: #fff;
  .navbar {
    width: 100%;
    background-color: #FF5209;
    position: fixed;
    top: 0;
    left: 0;
  }
  .agrContent {
    width: 100%;
  }
}
