.contentBox{
    background-color: #f7f7f7;
    textarea{
        font-size: 14px;
        padding-bottom: 15px;
    }
    .areaSize{
        font-size: 12px;
        color: #999999;
        float: right;
        margin-right: 15px;
    }
}