.integral {
  width: 100%;
  padding-top: 45PX;
  .navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FF5209;
  }
  .vacancy {
    width: 100%;
    height: calc(100vh - 45PX);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;
    display: none;
    .blank {
      width: 254px;
      margin-top: -100px;
    }
    .forward {
      margin: 20px 0 20px;
      font-size: 16px;
      font-family: PingFangSC, PingFangSC-Medium;
      font-weight: 500;
      color: #ff5209;
    }
    .tips {
      font-size: 14px;
      font-family: PingFangSC, PingFangSC-Regular;
      color: #999999;
    }
  }
}
