.tabBox {
  width: 100%;
  height: 50PX;
  background-color: #fff;
  border-top: 1px solid #f3f3f3;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  .Item {
    width: 50%;
    height: 50PX;
    a {
      display: block;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      .badge{
        position: absolute;
        top: 4px;
        left: 50%;
        transform: translateX(4px);
      }
      :global(.am-badge-hot .am-badge-text) {
        background-color: #FF5209;
      }
    }
    img{
       width: 22PX;
       height: 22PX;
       margin: 4PX 0 2PX;
    }
    span {
      font-size:10PX;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      line-height:14PX;
    }
  }
  .filling {
    width: 100%;
    height: 17PX;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  :global(.am-flexbox){
    height: auto !important;
  }
}
.tabBoxIPhone {
  height: 64PX;
}
