.homePage {
  width: 100%;
  padding-top: 45PX;

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(135deg, #4DAAF5 0%, #3CEDC2 100%);
    z-index: 100;
  }

  .btn {
    width: 140px;
    height: 30px;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
  }
}


