.prize {
  width: 100%;
  .navBar {
    background-color: #FF5209;
  }
  .goodTitle {
    font-size: 14px;
    font-family: PingFangSC, PingFangSC-Regular;
    color: #333333;
    line-height: 20px;
    margin: 10px 0;
    padding-left: 12px;
    box-sizing: border-box;
    span {
      color: #999999;
      font-size: 12px;
    }
  }
  .addBlank {
    width: 100%;
    height: 84px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: PingFangSC, PingFangSC-Regular;
    font-weight: 400;
    text-align: center;
    color: #999999;
    line-height: 22px;
    span {
      font-size: 22px;
      position: relative;
      top: -3px;
      left: -3px;
    }
  }
  .goodInfo {
    width: 100%;
    height: 84px;
    background-color: #fff;
    display: flex;
    padding: 12px;
    box-sizing: border-box;
    justify-content: space-between;
    .goodPic {
      width: 60px;
      height: 60px;
      border-radius: 4px;
    }
    .goodName {
      margin: 0 12px;
      flex: 1;
      display: flex;
      flex-direction: column;
      .title {
        font-size: 14px;
        font-family: PingFangSC, PingFangSC-Medium;
        font-weight: 500;
        color: #333333;
        line-height: 20px;
        height: 40px;

      }
      .price {
        font-size: 14px;
        font-family: PingFangSC, PingFangSC-Regular;
        font-weight: 400;
        text-align: left;
        color: #333333;
        line-height: 20px;
        margin-top: 4px;
        i {
          color: #ff5209;
        }
      }
    }
    .quantity {
      display: flex;
      align-items: flex-end;
      font-size: 14px;
      font-family: PingFangSC, PingFangSC-Regular;
      color: #333333;
      line-height: 20px;
    }
  }
  .linBox {
    width: 100%;
    height: 3px;
    overflow: hidden;
    .addressLine {
      width: 100%;
    }
  }

  .address {
    padding: 12px;
    box-sizing: border-box;
    background-color: #fff;
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .name {
        font-size: 14px;
        font-family: PingFangSC, PingFangSC-Regular;
        color: #333333;
        line-height: 16px;
      }
      .phone {
        font-size: 14px;
        font-family: PingFangSC, PingFangSC-Regular;
        color: #999999;
        line-height: 14px;
        flex: 1;
        margin: 0 12px;
      }
      .change {
        font-size: 12px;
        font-family: PingFangSC, PingFangSC-Regular;
        color: #ff5209;
        line-height: 17px;
      }
    }
    .bot {
      font-size: 12px;
      font-family: PingFangSC, PingFangSC-Regular;
      font-weight: 400;
      text-align: left;
      color: #333333;
      line-height: 17px;
      margin-top: 10px;
    }
  }
  .line2{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .Information {
    width: 100%;
    background-color: #fff;
    padding: 12px;
    box-sizing: border-box;
    .rows {
      width: 100%;
      margin-bottom: 10px;
      .inputTitle {
        display: block;
        font-size: 14px;
        font-family: PingFangSC, PingFangSC-Regular;
        color: #333333;
        line-height: 20px;
        margin-bottom: 8px;
        i {
          color: #FF5209;
        }
      }
      .inputItem {
        width: 100%;
        background: #ffffff;
        border: 1px solid #cbcbcb;
        border-radius: 4px;
        box-sizing: border-box;
        flex: 1;
        input {
          font-size: 14px;
          font-family: PingFangSC, PingFangSC-Regular;
        }
      }
      .content {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        .key {
          width: 40px;
          font-size: 14px;
          font-family: PingFangSC, PingFangSC-Regular;
          font-weight: 400;
          text-align: left;
          color: #666666;
          line-height: 20px;
          margin-left: 8px;
        }
        div {
          flex: 1;
          box-sizing: border-box;
        }
        .select {
          background: #ffffff;
          border: 1px solid #cbcbcb;
          border-radius: 4px;
          color: #fff;
          :global(.am-list-extra) {
            text-align: left;
            font-size: 14px;
            // color: #000;
          }
        }
      }
      .textarea {
        background: #ffffff;
        border: 1px solid #cbcbcb;
        border-radius: 4px;
        padding-right: 6px;
        box-sizing: border-box;
        textarea {
          font-size: 14px;
          font-family: PingFangSC, PingFangSC-Regular;
          line-height: 20px;
        }
      }

      :global(.am-input-clear),
      :global(.am-list-arrow) {
        flex: none !important;
      }
      :global(.am-textarea-clear) {
        margin-top: 0;
        width: 18px;
        height: 18px;
        background-size: 18px auto;
      }
    }
    .submit {
      background-color: #ff5209;
      width: 290px;
      margin: 40px auto 30px;
    }
  }
}
