.itemBox{
    width: 100%;
    display: flex;
    min-height: 30px;
    justify-content: space-between;
    margin-bottom: 6px;
    .itemTitle{
        color: #333;
        font-size: 14px;
        text-align: left;
    }
    .itemValue{
        color: #666;
        font-size: 14px;
        text-align: right;
        flex: 1;
    }
}
