.topBox {
  height: 150px;
  width: 100%;
  background: #0091FF;
  color: #ffffff;

  .navBar {
    background-color:#0091FF;
  }

  .title {
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
    width: 100%;
    line-height: 40px;
    height: 40px;
  }

  .authorInfo {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    margin-top: 20px;

    .authorImg {
      height: 60px;
      margin-left: 24px;
      width: 60px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;

    }

    .authorLoginType {
      display: flex;
      flex-direction: column;
      justify-content: left;
      margin-left: 15px;

      .authorLogin {
        width: fit-content;
        padding: 0 20px;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
        align-content: center;
        color: #ff5209;
        background: #ffffff;
        border-radius: 15px;
        position: relative;
        font-family: PingFangSC-Regular, PingFang SC;
      }

      .authorName {
        font-size: 16px;
        width: auto;
        padding-left: 5px;
        color: #ffffff;
        position: relative;
        font-family: PingFangSC-Regular, PingFang SC;
        display: flex;
        flex-direction: column;
        .channel {
          font-size: 14px;
          margin-top: 4px;
        }
      }

      .autoBox {
        display: flex;
        flex-direction: row;

        .authorCoin {
          width: fit-content;
          height: 18px;
          display: flex;
          margin-top: 8px;
          align-items: center;
          background: rgba(0, 0, 0, 0.2);
          border-radius: 10px;
          padding-right: 3px;

          .coin {
            height: 18px;
            width: 18px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
          }

          .label {
            font-size: 8px;
            font-family: PingFangSC-Regular, PingFang SC;
            color: rgba(255, 255, 255, 1);
            margin: 0 4px;
          }

          .arrow {
            height: 8px;
            width: 8px;
          }
        }

        .goTopUp {
          color: #FF5209;
          margin-top: 8px;
          margin-left: 5px;
          padding: 0 5px;
          font-size: 12px;
          height: 18px;
          line-height: 18px;
          background-color: #fff27f;
          border-radius: 15px;
        }
      }
    }

  }


}

.userPage {
  :global(.am-grid-item-active .am-grid-item-content) {
    background-color: rgba(0, 0, 0, 0) !important;
  }
}
.vipBox {
  width: 351px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(36,33,33,0.85);
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.10);
  border-radius: 8px 8px 0 0;
  margin: 10px auto 0;
  padding: 0 14px;
  box-sizing: border-box;
  .left {
    width: 24px;
  }
  .center {
    flex: 1;
    margin-left: 6px;
    font-size: 14px;
    color: #EFC8AF;
    .ty {
      font-size: 12px;
      color: #FFFFFF;
      margin-left: 4px;
    }
  }
  .right {
    width: 66px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    color: #B68638;
    border-radius: 12px;
    background-image: linear-gradient(141deg, #F7DBA8 0%, #DDB880 100%);
  }
}
.order {
  width: 100%;
  margin-bottom: 10px;
  max-height: 200px;
  background-color: #ffffff;
  overflow: hidden;

  .myorder {
    padding:  12px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      font-family: PingFangSC-Medium;
      font-size: 14px;
      color: #333333;
    }
    .right {
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #666666;
    }
  }

  .itembg {
    background-color: #ff5209;
  }
  :global(.am-list-item img) {
    width: 24px;
    height: 24px;
  }
  :global(.am-list-content) {
    font-size: 14px !important;
    color: #333333 !important;
  }
  :global(.am-flexbox) {
    background-color: #fff;
  }

  :global(.am-grid-item-content) {
    height: auto !important;
  }

  .item1 {
    .icon {
      height: 30px;
      width: 30px;
    }

    .label {
      margin-top: 10px;
      transform: scale(0.9);
      color: #333333;
    }
  }

  .item2 {
    .icon {
      height: 30px;
      width: 30px;
    }

    .label {
      margin-top: 10px;
      transform: scale(0.9);
      color: #333333;
      padding: 0 14px;
    }

    .itemInfo {
      background: linear-gradient(318deg, #f92f2f 4%, #c807fb);
      border-radius: 8px;
      position: absolute;
      right: 0;
      color: #fff;
      font-size: 10px;
      transform: scale(0.8);
      margin-top: 10px;
      top: 0;
      padding: 0 4px;
    }
  }
}

.feedBack {
  height: 44px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 1);

  .title {
    font-size: 14px;
    color: #333333;
    ;
    line-height: 44px;
    margin-left: 12px;
  }

  .arrow {
    height: 8px;
    width: 8px;
    right: 12px;
    margin-right: 12px;
  }
}

.tBar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50PX;
  width: 100%;
}

.tBarIPhone {
  height: 64PX;
}

.outLogin {
  width: 80%;
  border: 1px solid #ddd !important;
  color: #333333;
  margin-top: 200px;
  margin-left: 50%;
  transform: translateX(-50%);
}
