.topBox {
  height: 150px;
  width: 100%;
  background-color: #ff5209;
  color: #ffffff;
  .navBar {
    background-color: #ff5209;
  }
  .title{
    text-align:center;
    margin: 0 auto;
    vertical-align: middle;
    width: 100%;
    line-height: 40px;
    height: 40px;
  }
  .authorInfo{
    display: flex;
    justify-content: left;
    width: 100%;
    margin-top: 20px;
    .authorImg{
      height: 60px;
      margin-left: 24px;
      width: 60px;
      border-radius:50%;
      -webkit-border-radius:50%;
      -moz-border-radius:50%;

    }
    .authorLoginType{
      display: flex;
      flex-direction: column;
      justify-content: left;
      margin-left: 15px ;
      .authorLogin{
        width: fit-content;
        padding: 0 20px;
        font-size:14px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        align-content: center;
        color: #ff5209;
        background: #ffffff;
        border-radius: 15px;
        position: relative;
        font-family:PingFangSC-Regular,PingFang SC;

      }
      .authorName{
        font-size:14px;
        height: 30px;
        line-height: 30px;
        width: auto;
        padding-left: 5px;
        color: #ffffff;
        position: relative;
        font-family:PingFangSC-Regular,PingFang SC;

      }
      .authorCoin{
        width: fit-content;
        height: 18px;
        display: flex;
        margin-top: 10px;
        justify-content: left;
        align-items: center;
        background:rgba(0,0,0,0.2);
        border-radius:10px;
        padding-right: 3px;
        .coin{
          height: 18px;
          width: 18px;
          border-radius:50%;
          -webkit-border-radius:50%;
          -moz-border-radius:50%;
        }
        .label{
          font-size:10px;
          font-family:PingFangSC-Regular,PingFang SC;
          color:rgba(255,255,255,1);
          transform: scale(0.8);
        }
        .arrow{
          height: 8px;
          width: 8px;
        }
      }
    }

  }

}
.order{
  max-height: 120px;
  margin-top: 12px;
  background-color: #ffffff;
  .myorder{
   padding: 12px;
  }
  .itembg{
    background-color: #ff5209;
  }
  .icon{
    height: 30px;
    width: 30px;
  }
  .label{
    margin-top: 10px;
    transform: scale(0.9);
    color: #333333;

  }
  :global(.am-flexbox) {
    background-color:transparent;
    height: 70px;
  }
}
.feedBack{
  height: 44px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:rgba(255,255,255,1);
  .title{
    font-size: 14px;
    color: #333333;;
    line-height: 44px;
    margin-left: 12px;
  }
  .arrow{
    height: 8px;
    width: 8px;
    right: 12px;
    margin-right: 12px;
  }
}
.tBar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
}
.tBarIPhone {
  height: 64px;
}
.outLogin {
  width: 80%;
  border: 1px solid #ddd !important;
  color: #333333;
  margin-top: 200px;
  margin-left: 50%;
  transform: translateX(-50%);
}
