.help {
  width: 100%;
  padding-top: 45PX;
  box-sizing: border-box;

  .navBar {
    background-color: #FF1C1C;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
}

.container {
  display: flex;
  padding-bottom: 20px;
  flex-direction: column;

  .shareHeader {
    position: relative;

    .shareBanner {
      width: auto;
      height: 150px;
    }

    .flBox {
      width: 351px;
      margin: 10px auto;
      height: 76px;
      background: #FFFFFF;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .itemBox {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .tt {
          font-size: 14px;
          color: #333333;
          margin: 6px 0;
        }

        .bb {
          font-size: 18px;
          color: #FF1C1C;
          margin-bottom: 12px;
        }
      }
    }

    .shareRule {
      height: 116px;
      width: 351px;
      margin: 0 auto;
      text-align: center;
      background: #ffffff;
      border-radius: 8px;
      overflow: hidden;
    }

    .ruleBox {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      padding: 0 20px 0 20px;
      justify-content: space-around;
      align-items: center;

      .ruleItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;

        .ruleImg {
          height: 40px;
          width: 40px;
        }

        .ruleContent {
          text-align: center;
          color: #333333;
          font-size: 12px;
          width: 100%;
        }
      }

      .ruleNext {
        width: 32px;
        height: 13px;
        margin-bottom: 35px;
      }
    }

  }

  .invitationBg {
    background: #ffffff;
    border-radius: 8px;
    margin: 10px 12px;

    .title {
      font-family: PingFangSC-Medium;
      font-size: 14px;
      color: #333333;
      margin: 12px;
    }

    .invitationBox {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      justify-content: space-between;

      .invitationLink {
        width: 100%;
        font-size: 12px;
        color: #333333;
        background: #f7f7f7;
        border-radius: 8px;
        height: 30px;
        margin-left: 12px;
        margin-right: 12px;
        line-height: 30px;
        padding-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

      }

      .copy {
        height: 18px;
        width: 18px;
        margin-right: 12px;
        margin-top: 5px;
      }
    }

    .share {
      background: #ff5209;
      border-radius: 8px;
      margin: 12px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: #fff;
    }
  }

  .bgBox {
    width: 351px;
    margin: 0 auto;
    height: 142px;
    background: #ffffff;
    border-radius: 8px;
    padding: 12px;
    box-sizing: border-box;
    .head {
      font-family: PingFangSC-Medium;
      font-size: 14px;
      color: #333333;
    }
    .line {
      display: flex;
      height: 100px;
      align-items: center;
      justify-content: center;
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #666666;
    }
  }
}

.dialogTitle {
  color: #333;
}

.dialogContent1 {
  color: #333;
  font-size: 12px;
  text-align: left;
}

.dialogContent2 {
  color: #999;
  font-size: 12px;
  text-align: left;
  margin: 8px 0px 8px 0px;
}

.cancel {
  border-top: 1px solid #ededed;
  height: 30px;
  padding-top: 10px;
  line-height: 30px;
  font-size: 16px;
  color: #FF5209;
}
